<nav class="navbar navbar-expand-lg navbar-green bg-black">
  <a class="navbar-brand" href="#">A Hacker News clone built with love and Angular</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <!-- <a class="nav-link" href="#">Top<span class="sr-only">(current)</span></a> -->
        <a class="nav-link" [routerLink]="['/topstories']" routerLink="active">Top</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/newstories']" routerLink="active">New</a>
      </li>      
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/beststories']" routerLink="active">Best</a>
      </li>      
    </ul>    
  </div>
</nav>