<div class="container">
    <div class="row">
        <div class="col-12 text-center">
            <h1>Hacker News clone</h1>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <h3>New Stories</h3>
        </div>
        <div class="col-sm">
            <h3>Top Stories</h3>
            <ol>
                <li *ngFor="let topStory of topStories"> 
                    <a href="{{ topStory.url }}">{{ topStory.title }}</a>
                    <p>{{ topStory.score }} points by {{ topStory.by }} timeNeedsToGoHere {{ topStory.descendants }} comments </p>
                </li>
            </ol>
        </div>
        <div class="col-sm">
            <h3>Best Stories</h3>
        </div>
    </div>
</div>