body {
    background: white;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

a:link {
    text-decoration: none;
    color: black;
}

a:visited {
    color: black;
}

a:hover {
    border-bottom: 2px dashed #444;    
    color: #337;
} 

