<div class="container">
    <div class="row">
        <div class="col-sm">
            <h3>Stories</h3>
            <ol>
                <li *ngFor="let story of stories">
                    <a href="{{ story.url }}">{{ story.title }}</a>
                    <!-- display the comment link only if there are comments -->
                    <p *ngIf="story.descendants > 0">{{ story.score }} points by {{ story.by }} 
                       {{ getTimePosted(story.time) }}
                       {{ story.descendants }}                       
                       <a [routerLink]="" (click)="goToComments(story.id)">Comments</a></p>
                    <p *ngIf="story.descendants == 0">{{ story.score }} points by {{ story.by }} 
                        {{ getTimePosted(story.time) }}
                        {{ story.descendants }}               
                        Comments</p>
                </li>
            </ol>
        </div>
    </div>
</div>